body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 30px;
  }

.dashboard {
    display: flex;
    height: 700px;
    padding: 20px;
}

.sidenav {
    flex: 30%;
    padding: 20px;
    background-color: rgb(72, 171, 233);
  }

.taskcolumn {
    flex: 70%;
    padding: 20px;
    background-color: rgb(237, 242, 245);
}
  