body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #eceff1;
  color: #333;
}

.dashboard {
  display: flex;
  min-height: 100vh;
}

.sidenav {
  width: 300px;
  background-color: #488dcb;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
}

.sidenav h1 {
  margin-top: 0;
  font-size: 24px;
}

.username-placeholder {
  font-style: italic;
}

.search-bar {
  margin: 30px 0;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
}

.search-bar input[type="search"] {
  width: 100%;
  border: none;
  padding: 10px;
  font-size: 14px;
}

ul {
  list-style-type: none;
}


.task-categories {
  list-style: none;
  padding: 0;
  margin: 0;
}

.category {
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  animation: fade-in 1s ease-in forwards;
}

.category.active, .category:hover {
  background-color: #367bb7;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
 
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.taskcolumn {
  flex-grow: 1;
  background-color: #edf2f5;
  padding: 20px;
  box-sizing: border-box;
}

.taskcolumn h2 {
  margin-top: 0;
  color: #333;
  font-size: 1.5rem;
}

.task-item {
  background-color: #fff;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  padding: 10px;
}

.task-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-info input[type="checkbox"] {
  margin-right: 10px;
}

.dropdown-toggle {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  padding: 5px;
  outline: none;
  margin-left: auto;
}

.task-detail {
  display: none;
  background-color: #f6f8fa;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.task-detail.show {
  display: block;
}

.task-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}

.task-description {
  color: #757575;
  font-size: 0.875rem;
}

.due-date {
  background-color: #c8e6c9;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 0.75rem;
}
