<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks Dashboard</title>
    <script type = "text/javascript">
        var tasks = {{tasks|tojson}};
    </script>
    <script type="text/javascript" src="../static/javascripts/script.js"></script>
</head>
<body>
    <div class="dashboard">
        <!-- Side Navigation -->
        <div class="sidenav">
            <h1>Hi, <span class="username-placeholder">username</span>!</h1>
            <div class="search-bar">
                <input type="search" placeholder="Search..." id="search-tasklists" onkeyup="search_task(this.id)">
            </div>
              <ul id='task-categories'>
                <li class="category starred active">★ Starred</li>
                <li class="category">⚙ OSPSD class</li>
                <li class="category">🛒 Groceries</li>
                <li class="category">✔ Completed</li>
              </ul>
        </div>
        <!-- Task column -->
        <div class="taskcolumn">
            <h2>Starred</h2>

            <ul id="tasklist"></ul>

            {% for task in tasks %} 
            <div class="task-item">
                <div class="task-info">
                    <input type="checkbox">
                    <span>{{task['title']}}</span>
                    <div class="task-meta">
                        <span class="task-description">From {{task['tasklist_title']}}</span>
                        <span class="due-date">Today</span>
                    </div>
                </div>
                <button class="dropdown-toggle" onclick="toggleDropdown('task-detail-{{task['id']}}')">▼</button>
                <div class="task-detail" id="task-detail-{{task['id']}}">
                    <p>{{task['taskdescription']}}</p>
                </div>
            </div>
            {% endfor %}

        </div>
    </div> 
</body>
</html>